{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account') }}
{% endblock %}
{% block title %}accounting{% endblock %}

{% block body %}
    <body class="app">
    {% include('statement/header.html.twig') %}

    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                {# <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4"> #}
                {# <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">All</a> #}
                {# <a class="flex-sm-fill text-sm-center nav-link" id="orders-paid-tab" data-toggle="tab" href="#orders-paid" role="tab" aria-controls="orders-paid" aria-selected="false">Paid</a> #}
                {# <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-toggle="tab" href="#orders-pending" role="tab" aria-controls="orders-pending" aria-selected="false">Pending</a> #}
                {# <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-toggle="tab" href="#orders-cancelled" role="tab" aria-controls="orders-cancelled" aria-selected="false">Cancelled</a> #}
                {# </nav> #}
                <div class="tab-content" id="orders-table-tab-content">
                    <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                         aria-labelledby="orders-all-tab">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left" id="account_table">
                                        <thead>
                                        <tr>
                                            <th class="cell" data-sort-default></th>
                                            <th class="cell">e-mail</th>
                                            <th class="cell">Користувач</th>
                                            <th class="cell">Область</th>
                                            <th class="cell" data-sort-default>Дата реєстрації</th>
                                            <th class="cell">Дата авторизації</th>
                                            <th class="cell">Дата останньої дії відвідувача</th>
                                            <th class="cell">Дата останньої дії менеджера</th>
                                            <th class="cell">Ліміт</th>
                                            <th class="cell">Активні</th>
                                            <th class="cell">Авторизований</th>
                                            <th class="cell"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for currentUser in users %}
                                            {% if ('ROLE_EDITOR' in currentUser.getRoles(true)) or ('ROLE_WAIT' in currentUser.getRoles(true)) %}
                                                <tr>
                                                    <td class="cell">#{{ currentUser.id }}</td>
                                                    <td class="cell"><span
                                                                class="truncate">{{ currentUser.email }}</span>
                                                    </td>
                                                    <td class="cell">
                                                        {% if currentUser.profile.lastname is defined %}
                                                            {{ currentUser.profile.lastname }} {{ currentUser.profile.firstname }} {{ currentUser.profile.middlename }}
                                                        {% endif %}
                                                    </td>
                                                    <td class="cell">
                                                        {% if(currentUser.profile.oblast is not null) %}
                                                            <span>
                                                                {{ obls.getNameRgn(currentUser.profile.oblast.id).nameRgn }}
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="cell">
                                                    <span>
                                                        {# registration #}
                                                        {% if(currentUser.currentAt is not null) %}
                                                            {% set firstLog = repo.getLogEntries(currentUser)|last %}
                                                            {{ firstLog.loggedAt| format_datetime('short','short', locale='uk') }}
                                                        {% endif %}
                                                    </span>
                                                    </td>
                                                    <td class="cell">
                                                    <span>
                                                        {# авторизації #}
                                                        {% set authlog = repo.getLogEntries(currentUser)|filter(v => (v.data.roles is defined) and ('ROLE_EDITOR' in v.data.roles) ) %}
                                                        {% set authlog  = authlog | last %}

                                                        {% if authlog %}
                                                            {{ authlog.loggedAt| format_datetime('short','short', locale='uk') }}
                                                        {% endif %}
                                                    </span>
                                                    </td>
                                                    <td class="cell">
                                                        <span>
                                                {% if(currentUser.currentAt is not null) %}
                                                    {{ currentUser.currentAt | format_datetime('short','short', locale='uk') }}
                                                {% endif %}
                                                     </span>
                                                    </td>
                                                    <td class="cell">
                                                        <span>
                                                           {#  manager #}
                                                            {% set manlog = repo.getLogEntries(currentUser)|filter(v => (v.data.isDisabled is defined)) | first  %}
                                                            {% set mlngt = manlog | length %}
                                                            {% if (mlngt) > 0 %}
                                                                {{ manlog.loggedAt| format_datetime('short','short', locale='uk') }}
                                                            {% endif %}
                                                        </span>
                                                    </td>
                                                    <td class="cell"><span class="badge bg-success">Hi</span></td>
                                                    <td class="cell"><span>
                                                <button class="account-button {% if currentUser.isDisabled %} active{% endif %}"
                                                        value="{{ currentUser.id }}">
                                                </button>
                                                </span></td>
                                                    <td class="cell">
                                                        {% if 'ROLE_EDITOR' in currentUser.getRoles(true) %}
                                                            <span class="badge bg-success">Так</span>
                                                        {% else %}
                                                            {% if ((currentUser.profile != null) and (currentUser.profile.ecp.size != null) and ('ROLE_WAIT' in currentUser.getRoles(true))) %}
                                                                <button class="btn-sm btn-warning auth-button"
                                                                        href="{{ path('account_authorize', {'user':currentUser.id}) }}"
                                                                        value="{{ currentUser.id }}">Авторизувати
                                                                </button>
                                                            {% else %}
                                                                {% if ('ROLE_WAIT' in currentUser.getRoles(true)) %}
                                                                    <span class="badge bg-warning">Hi</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                    <td class="cell">
                                                        {% if ((currentUser.profile != null) and (currentUser.profile.ecp.size != null) and ('ROLE_EDITOR' not in currentUser.getRoles(true))) %}
                                                            <a class="btn-sm app-btn-secondary"
                                                               href="{{ path('account_show_file', {'user':currentUser.id}) }}">Файл</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% include "/statement/pagination.html.twig" with {'next': next, 'previous': previous, 'all': users, 'url':'account_index'} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
