{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account') }}
{% endblock %}
{% block title %}accounting{% endblock %}

{% block body %}
    <body class="app">
    {% include('statement/header.html.twig') %}

    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                {# <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4"> #}
                {# <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">All</a> #}
                {# <a class="flex-sm-fill text-sm-center nav-link" id="orders-paid-tab" data-toggle="tab" href="#orders-paid" role="tab" aria-controls="orders-paid" aria-selected="false">Paid</a> #}
                {# <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-toggle="tab" href="#orders-pending" role="tab" aria-controls="orders-pending" aria-selected="false">Pending</a> #}
                {# <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-toggle="tab" href="#orders-cancelled" role="tab" aria-controls="orders-cancelled" aria-selected="false">Cancelled</a> #}
                {# </nav> #}
                <div class="tab-content" id="orders-table-tab-content">
                    <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                         aria-labelledby="orders-all-tab">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left">
                                        <thead>
                                        <tr>
                                            <th class="cell"></th>
                                            <th class="cell">e-mail</th>
                                            <th class="cell">Користувач</th>
                                            <th class="cell">Дата підключення</th>
                                            <th class="cell">Дата останнього відвідування</th>
                                            <th class="cell">Ліміт закінчився</th>
                                            <th class="cell">Активні</th>
                                            <th class="cell"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td class="cell">#{{ user.id }}</td>
                                                <td class="cell"><span class="truncate">{{ user.email }}</span></td>
                                                <td class="cell">{% if user.profile.lastname is defined %} {{ user.profile.lastname }} {{ user.profile.firstname }} {{ user.profile.middlename }} {% endif %}</td>
                                                <td class="cell"><span>{%  if(repo.getLogEntries(user)[0]) is defined %} {% set firstLog = repo.getLogEntries(user)|last %}{{ firstLog.loggedAt| format_datetime('short','short', locale='uk') }} {% endif %}</span>
                                                </td>
                                                <td class="cell"><span>{{ user.currentAt | format_datetime('short','short', locale='uk') }}</span>
                                                </td>
                                                <td class="cell"><span class="badge bg-success">Нi</span></td>
                                                {# <td class="cell"><div class="form-check form-switch"><input type="checkbox"{% if user.isDisabled %} checked{% endif %} class="form-check-input"></div></td> #}
                                                <td class="cell"><span>
                                                        <button class="account-button {% if user.isDisabled %} active{% endif %}" value="{{ user.id }}">
{#                                                                <span class="icon-text">#}
{#                                                                    <svg class="icon icon--is-spinning" aria-hidden="true" viewBox="0 0 16 16"><title>Loading</title><g#}
{#                                                                                stroke-width="1" fill="currentColor" stroke="currentColor"><path d="M.5,8a7.5,7.5,0,1,1,1.91,5"#}
{#                                                                                         fill="none" stroke="currentColor"#}
{#                                                                                         stroke-linecap="round"#}
{#                                                                                         stroke-linejoin="round"></path></g>#}
{#                                                                    </svg>#}
{#                                                                 </span>#}
                                                        </button>
                                                    </span></td>
                                                <td class="cell"><a class="btn-sm app-btn-secondary" href="#">Файл</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div><!--//table-responsive-->

                            </div><!--//app-card-body-->
                        </div><!--//app-card-->

                    </div><!--//tab-pane-->
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
