{% extends 'base.html.twig' %}

{% block title %}Hello StatementController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('show_map') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('show_map') }}
{% endblock %}

{% block body %}
    {% if exception is defined %}
    {{  exception.message }}
    {% endif %}
    {{ form(form) }}
    {{ developmentApplication.id }}
    <div id="map" class="map" data-geom="{{ developmentApplication.geom }}"></div>
{% endblock %}
