{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('drawMap') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('drawMap') }}
{% endblock %}

{% block body %}
<body class="app">
    {% include('statement/header.html.twig') %}

    <div class="app-wrapper">
        <div class="app-card app-card-map shadow-sm">
            <div class="app-card-body">
                <div id="full-map" class="full-map"></div>
            </div><!--//app-card-body-->
        </div><!--//app-card-->
    </div><!--//app-wrapper-->
{#    {% include('statement/modals/draw_modal.html.twig') %}#}
    {% include('statement/footer.html.twig') %}
    {% if not app.user.profile %}
    <div id="profile_flag"></div>
    {% endif %}
    <div id="coord" data-cc="{{ cc }}" data-z="{{ z }}"></div>
{#    <div id="profile-data" data-profile-form="{{ profileForm }}"></div>#}
</body>
{% endblock %}
