{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('list') }}
{% endblock %}

{% block body %}

    {% include('statement/header.html.twig') %}

    <div class="app-wrapper">

        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">

                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">Заявки на розробку документації із землеустрою</h1>
                    </div>
                    <div class="col-auto">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                <div class="col-auto">
                                    <form class="table-search-form row gx-1 align-items-center">
                                        <div class="col-auto">
                                            <input type="text" id="search-orders" name="searchorders"
                                                   class="form-control search-orders" placeholder="Search">
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn app-btn-secondary">Search</button>
                                        </div>
                                    </form>

                                </div><!--//col-->
                                <div class="col-auto">

                                    <select class="form-select w-auto">
                                        <option selected value="option-1">All</option>
                                        <option value="option-2">This week</option>
                                        <option value="option-3">This month</option>
                                        <option value="option-4">Last 3 months</option>

                                    </select>
                                </div>
                                <div class="col-auto">
                                    <a class="btn app-btn-secondary" href="#">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download mr-1"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path fill-rule="evenodd"
                                                  d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                        Download CSV
                                    </a>
                                </div>
                            </div><!--//row-->
                        </div><!--//table-utilities-->
                    </div><!--//col-auto-->
                </div><!--//row-->


                <nav id="orders-table-tab"
                     class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                    <a class="flex-sm-fill text-sm-center nav-link {% if (app.request.get('status')=='') %}active{% endif %}" id="orders-all-tab" data-toggle="tab"
                       href="{{ path('statement.list') }}" role="tab" aria-controls="orders-all" aria-selected="true">Всі</a>
                    <a class="flex-sm-fill text-sm-center nav-link {% if (app.request.get('status')=='draft') %}active{% endif %}" id="orders-paid-tab" data-toggle="tab"
                       href="{{ path('statement.list', {'status': 'draft'}) }}" role="tab" aria-controls="orders-paid"
                       aria-selected="false">Незареєстровані</a>
                    <a class="flex-sm-fill text-sm-center nav-link {% if (app.request.get('status')=='numbered') %}active{% endif %}" id="orders-pending-tab" data-toggle="tab"
                       href="{{ path('statement.list', {'status': 'numbered'}) }}" role="tab" aria-controls="orders-pending"
                       aria-selected="false">Очікують рішення</a>
                    <a class="flex-sm-fill text-sm-center nav-link {% if (app.request.get('status')=='rejected') %}active{% endif %}" id="orders-cancelled-tab" data-toggle="tab"
                       href="{{ path('statement.list', {'status': 'rejected'}) }}" role="tab" aria-controls="orders-cancelled" aria-selected="false">Відхилені</a>
                    <a class="flex-sm-fill text-sm-center nav-link {% if (app.request.get('status')=='published') %}active{% endif %}" id="orders-cancelled-tab" data-toggle="tab"
                       href="{{ path('statement.list', {'status': 'published'}) }}" role="tab" aria-controls="orders-cancelled" aria-selected="false">Прийняті</a>
                </nav>


                <div class="tab-content" id="orders-table-tab-content">
                    <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                         aria-labelledby="orders-all-tab">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left">
                                        <thead>
                                        <tr>
                                            <th class="cell">Заява</th>
                                            <th class="cell">Адреса з.д.</th>
                                            <th class="cell">Заявник</th>
                                            <th class="cell">Дата подачи заяви</th>
                                            <th class="cell">Статус заяви</th>
                                            <th class="cell">Площа з.д.</th>
                                            <th class="cell"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for developmentApplication in developmentApplications %}
                                            <tr>
                                                <td class="cell">#{{ developmentApplication.id }}</td>
                                                <td class="cell"><span
                                                            class="truncate">{{ developmentApplication.landAddress }}</span>
                                                </td>
                                                <td class="cell">{{ developmentApplication.applicantLastname }} {{ developmentApplication.applicantFirstname }}</td>
                                                <td class="cell">
                                                    <span class="cell-data">{{ developmentApplication.createdAt |format_date(locale='uk') }}</span>
                                                    <span class="note">{{ developmentApplication.createdAt |format_time(locale='uk') }}</span>
                                                </td>
                                                {% if developmentApplication.status == 'draft' %}
                                                    <td class="cell"><span
                                                                class="badge bg-warning">Не зареєстровано</span></td>
                                                {% elseif developmentApplication.status == 'numbered' %}
                                                    <td class="cell"><span
                                                                class="badge bg-primary">Очікує рішення</span></td>
                                                {% elseif developmentApplication.status == 'rejected' %}
                                                    <td class="cell"><span class="badge bg-danger">Відхилено</span></td>
                                                {% else %}
                                                    <td class="cell"><span class="badge bg-success">Прийнято</span></td>
                                                {% endif %}
                                                <td class="cell">{{ developmentApplication.area }} Га</td>
                                                <td class="cell"><a class="btn-sm app-btn-secondary"
                                                                    href="{{ path('statement.update', {id: developmentApplication.id}) }}">View</a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div><!--//table-responsive-->

                            </div><!--//app-card-body-->
                        </div><!--//app-card-->
                        {% include "/statement/pagination.html.twig" with {'next': next, 'previous': previous, 'all': developmentApplications, 'url': 'statement.list'} %}

                    </div><!--//tab-pane-->

                </div><!--//tab-content-->


            </div><!--//container-fluid-->
        </div><!--//app-content-->

        {% include('statement/footer.html.twig') %}

    </div><!--//app-wrapper-->

{% endblock %}
