{% extends 'base.html.twig' %}

{% block title %}Hello StatementController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Заява на розробку</h2>
        <p class="frmDesc">Заява на розробку документації із землеустрою</p>
        <hr>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_label(form.applicantLastname) }}
                {{ form_widget(form.applicantLastname) }}
            </div>
            <div class="col">
                <label class="form-label">&nbsp;</label>
                {{ form_widget(form.applicantFirstname) }}

            </div>
            <div class="col">
                <label class="form-label">&nbsp;</label>
                {{ form_widget(form.applicantMiddlename) }}
            </div>
        </div>
        <div class="row">
            <div class="col col-8">
                {{ form_label(form.phoneNumber) }}
                {{ form_widget(form.phoneNumber) }}
            </div>
        </div>
        <div class="row">
            <div class="col col-8">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_label(form.applicantStreetAddress) }}
                {{ form_widget(form.applicantStreetAddress) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_label(form.country) }}
                {{ form_widget(form.country) }}
            </div>
            <div class="col">
                {{ form_label(form.region) }}
                {{ form_widget(form.region) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_label(form.city) }}
                {{ form_widget(form.city) }}
            </div>
            <div class="col">
                {{ form_label(form.postal) }}
                {{ form_widget(form.postal) }}
            </div>
        </div>
        <div class="between-address"></div>
        <div class="row">
            <div class="col">
                {{ form_label(form.landAddress) }}
                {{ form_widget(form.landAddress) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_label(form.landCountry) }}
                {{ form_widget(form.landCountry) }}
            </div>
            <div class="col">
                {{ form_label(form.landRegion) }}
                {{ form_widget(form.landRegion) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_label(form.landCity) }}
                {{ form_widget(form.landCity) }}
            </div>
            <div class="col">
                {{ form_label(form.landPostal) }}
                {{ form_widget(form.landPostal) }}
            </div>
        </div>
        <div class="row">
            <div class="col col-8">
                {{ form_widget(form.geom) }}
                <div id="map" class="map"></div>
            </div>
        </div>

        <div class="row">
            <div class="col col-8 form-switch">
                {{ form_label(form.planingDocumentation) }}
                {{ form_widget(form.planingDocumentation) }}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
