<nav class="app-pagination">
    <ul class="pagination justify-content-center">
        {% set offset = ((next - previous) / 2) | round %}
        {% if (previous >= 0) %}
            <li class="page-item">
                <a class="page-link" href="{{ path(url, { offset: previous }) }}">Попередня</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ path(url, { offset: previous }) }}">{{ (previous / offset + 1) | round }}</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="{{ path(url, { offset: previous }) }}">Попередня</a>
            </li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="#">{{ (next / offset) | round }}</a></li>
        {% if next < all|length %}
            <li class="page-item">
                <a class="page-link" href="{{ path(url, { offset: next }) }}">{{ (next/offset + 1) | round}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ path(url, { offset: next }) }}">Наступна</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="{{ path(url, { offset: next }) }}">Наступна</a>
            </li>
        {% endif %}
    </ul>
</nav><!--//app-pagination-->
