<div class="container">
    {{ form_start(form) }}
    <div class="row gx-2">
        <div class="col">
            <p class="fw-bold fs-6">Вповноважена особа (ПIБ)</p>
        </div>
        <div class="col">
            {{ form_row(form.lastname) }}
        </div>
        <div class="col">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col">
            {{ form_row(form.middlename) }}
        </div>
    </div>

    <div class="row border border-bottom-0">
        <div class="col">
            {{ form_row(form.localGoverment) }}
        </div>
    </div>
    <div class="row border border-bottom-0 border-top-0">
        <div class="col">
            {{ form_row(form.documentsType) }}
        </div>
    </div>
    <div class="row border border-bottom-0 border-top-0">
        <div class="col">
            {{ form_row(form.numberSolution) }}
        </div>
        <div class="col">
            {{ form_row(form.solutedAt) }}
        </div>
    </div>
    <div class="row border border-top-0">
        <div class="col">
            {{ form_row(form.link) }}
        </div>
    </div>
    <div class="row border border-bottom-0 ">
        <div class="col">
            {{ form_row(form.address) }}
        </div>
    </div>
    <div class="row border  border-top-0 py-3">
        <p>Майбутнє цільове призначення</p>
        <div class="col">
            {{ form_widget(form.useCategory) }}
        </div>
        <div class="col">
            {{ form_widget(form.useSubCategory) }}
        </div>
    </div>
    <div class="row border">
        <div class="col">
            <div>Статус: {{ drawnArea.status }}</div>
            <div class="d-flex align-items-center">Площа:{{ form_widget(form.area) }}</div>
        </div>
        <div class="col">
            <div>Дата створення: {{ drawnArea.createdAt| format_datetime('short','short', locale='uk') }}</div>
            <div>Дата
                редагування: {% if(drawnArea.updatedAt) %} {{ drawnArea.updatedAt| format_datetime('short','short', locale='uk') }} {% endif %}</div>
            <div>Дата
                публікації: {% if(drawnArea.publishedAt) %} {{ drawnArea.publishedAt| format_datetime('short','short', locale='uk') }} {% endif %}</div>
            <div>Дата перенесення в
                архів: {% if(drawnArea.archivedAt) %} {{ drawnArea.archivedAt| format_datetime('short','short', locale='uk') }} {% endif %}</div>
        </div>
    </div>

    <div class="row">
        <div class="col area-buttons">

            <button type="button"
                    id="dr_save" value="{{ drawnArea.id }}"
                    class="btn btn-primary swal2-success swal2-styled
               {% if workflow_has_marked_place(drawnArea, 'published') or workflow_has_marked_place(drawnArea, 'archived') %}
                d-none
                {% endif %}
                ">Зберегти
            </button>

            <button type="button"
                    id="dr_drop" value="{{ drawnArea.id }}"
                    class="btn btn-warning swal2-warning swal2-styled
                {% if ((drawnArea.id is null) or (workflow_can(drawnArea, 'to_archive')) or workflow_has_marked_place(drawnArea, 'archived')) %}
                d-none
                {% endif %}
                ">Видалити
            </button>

            <button type="button" class="btn btn-success swal2-success swal2-styled
                {% if (drawnArea.id is null) or workflow_can(drawnArea, 'to_archive') or workflow_has_marked_place(drawnArea, 'archived') %}
                d-none
                {% endif %}
            " id="dr_publ"
            >До ПКК
            </button>


            <button type="button" class="btn btn-danger
                {% if not workflow_has_marked_place(drawnArea, 'published') %}
                 d-none
                {% endif %}
                " id="dr_arch" value="{{ drawnArea.id }}"
            >В архів
            </button>

            <button type="button" class="btn btn-info swal2-info swal2-styled" id="dr_close">Відмінити</button>

        </div>
    </div>

    {{ form_row(form.geom) }}
    {{ form_end(form) }}
</div>
