<div class="container">
    {{ form_start(profileForm,{'attr': {'id': 'form_person_edit'}}) }}
    <div class="row">
        <div class="col">
            {{ profile.lastname }}

            {{ profile.firstname }}

            {{ profile.middlename }}
        </div>
        <div class="col">
            Статистичнi данi
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ profile.address }}
            {{ profile.oblast }}
        </div>
        <div class="col">
            {{ profile.phone }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(profileForm.url) }}
        </div>
    </div>
</div>
{{ form_end(profileForm) }}
</div>

