<div class="container">
    {{ form_start(form) }}

    <div class="row">
        <div class="col-sm-3">
            <p class="fw-bold fs-6">Уповноважена особа (ПIБ)</p>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col">
                    {{ form_row(form.lastname) }}
                </div>
            </div>
            <div class="row">
                <div class="col-8 col-sm-6">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col-4 col-sm-6">
                    {{ form_row(form.middlename) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row border border-bottom-0">
        <div class="col">
            {{ form_row(form.localGoverment) }}
        </div>
    </div>
    <div class="row border border-bottom-0 border-top-0">
        <div class="col">
            {{ form_row(form.documentsType) }}
        </div>
    </div>
    <div class="row border border-bottom-0 border-top-0">
        <div class="col">
            {{ form_row(form.numberSolution) }}
        </div>
        <div class="col">
            {{ form_row(form.solutedAt) }}
        </div>
    </div>
    <div class="row border border-top-0">
        <div class="col">
            {{ form_row(form.link) }}
        </div>
    </div>
    <div class="row border border-bottom-0 ">
        <div class="col">
            {{ form_row(form.address) }}
        </div>
    </div>
    <div class="row border  border-top-0 py-3">
        <p>Майбутнє цільове призначення</p>
        <div class="col">
            {{ form_widget(form.useCategory) }}
        </div>
        <div class="col">
            {{ form_widget(form.useSubCategory) }}
        </div>
    </div>
    <div class="row border align-items-start">
        <div class="col">
            <p class="text-start">Статус: {{ drawnArea.status|trans }}</p>
            <div class="text-start">Площа: {{ form_widget(form.area) }}</div>
        </div>
        <div class="col">
            <p class="text-start mb-0">Дата створення: {{ drawnArea.createdAt| format_datetime('short','short', locale='uk') }}</p>
            <p class="text-start mb-0">Дата
                редагування: {% if(drawnArea.updatedAt) %} {{ drawnArea.updatedAt| format_datetime('short','short', locale='uk') }} {% endif %}</p>
            <p class="text-start mb-0">Дата відображення на ПКК: {% if(drawnArea.publishedAt) %} {{ drawnArea.publishedAt| format_datetime('short','short', locale='uk') }} {% endif %}</p>
            <p class="text-start mb-0">Дата перенесення в
                архів: {% if(drawnArea.archivedAt) %} {{ drawnArea.archivedAt| format_datetime('short','short', locale='uk') }} {% endif %}</p>
        </div>
    </div>

</div>

{{ form_row(form.geom) }}
    {{ form_end(form) }}
</div>
