<div class="container">
    {{ form_start(form) }}
    <div class="row gx-2">
        <div class="col">
            <p class="fw-bold fs-6">Вповноважена особа (ПIБ)</p>
        </div>
        <div class="col">
            {{ form_row(form.lastname) }}
        </div>
        <div class="col">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col">
            {{ form_row(form.middlename) }}
        </div>
    </div>

    <div class="row border border-bottom-0">
        <div class="col">
            {{ form_row(form.localGoverment) }}
        </div>
    </div>
    <div class="row border border-bottom-0 border-top-0">
        <div class="col">
            {{ form_row(form.documentsType) }}
        </div>
    </div>
    <div class="row border border-bottom-0 border-top-0">
        <div class="col">
            {{ form_row(form.numberSolution) }}
        </div>
        <div class="col">
            {{ form_row(form.solutedAt) }}
        </div>
    </div>
    <div class="row border border-top-0">
        <div class="col">
            {{ form_row(form.link) }}
        </div>
    </div>
    <div class="row border border-bottom-0 ">
        <div class="col">
            {{ form_row(form.address) }}
        </div>
    </div>
    <div class="row border  border-top-0 py-3">
        <p>Майбутнє цільове призначення</p>
        <div class="col">
            {{ form_widget(form.useCategory) }}
        </div>
        <div class="col">
            {{ form_widget(form.useSubCategory) }}
        </div>
    </div>
    <div class="row border">
        <div class="col">
            <div>Статус: {{ drawnArea.status }}</div>
            <div class="d-flex align-items-center">Площа:{{ form_widget(form.area) }}</div>
        </div>
        <div class="col">
            <div>Дата створення: {{ drawnArea.createdAt| format_datetime('short','short', locale='uk') }}</div>
            <div>Дата
                редагування: {% if(drawnArea.updatedAt) %} {{ drawnArea.updatedAt| format_datetime('short','short', locale='uk') }} {% endif %}</div>
            <div>Дата
                публікації: {% if(drawnArea.publishedAt) %} {{ drawnArea.publishedAt| format_datetime('short','short', locale='uk') }} {% endif %}</div>
            <div>Дата перенесення в
                архів: {% if(drawnArea.archivedAt) %} {{ drawnArea.archivedAt| format_datetime('short','short', locale='uk') }} {% endif %}</div>
        </div>
    </div>

</div>

{{ form_row(form.geom) }}
    {{ form_end(form) }}
</div>
